.horizontal-scroll-movie > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.horizontal-scroll-movie > .row > .col {
  display: inline-block;
}

.navbar-custom {
  background-color: #576f72;
}

.movie-card-custom {
  border: none;
}

.nav-bold {
  font-weight: bold;
}

.star-color {
  color: #ffd56f;
}

.footer-color {
  background-color: #e5e3e9;
}

.height-requirement {
  min-height: 100vh;
}

body {
  background-color: #f2f1f5;
}
